@model MainPageIndexModel

<h1 class="display-3">Book Reservation System</h1>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
  Open modal
</button>

<!-- The Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>



<!-- Show books -->
@{
	const int ITEMS_IN_ROW = 3;

	if (Model == null || Model.Books.Count() == 0)
	{
		<div class="justify-content-center align-items-center">
			<h1 class="display-4">There are no books available</h1>
		</div>
	}
	else
	{
		<div class="container">

			<div class="row">

				@for (int i = 0; i < Model.Books.Count(); ++i)
				{

					if (i > 0 && i % ITEMS_IN_ROW == 0)
					{
						@:</div><div class="row">
					}

					<div class="col-lg-4 col-md-6 my-2">

						<div class="card" style="width: 100%;">

							<div class="card-body">
								<h5 class="card-title">
									@Model.Books.ElementAt(i).Name
								</h5>

								<h6 class="card-subtitle mb-2 text-muted">
									@Model.Books.ElementAt(i).Author.Name
								</h6>
								
								<h6 class="card-subtitle mb-2 text-muted">
									@(Model.Books.ElementAt(i).Price + "€")
								</h6>
								
								<p class="card-text">
									@Model.Books.ElementAt(i).Description
								</p>
								<a href="#" class="card-link">Add to cart</a>
								<a href="#" class="card-link">Details</a>
							
							</div>
						</div>	
					</div>

				}

			</div>
		</div>
	}
}