<h1>Admin page</h1>

<div class="card w-75">
    <div class="card-body">
        <h5 class="card-title">Users</h5>
        <p class="card-text">Delete, edit user info</p>
        <a class="btn btn-primary" asp-controller="AdminPage" asp-action="Users">Manage users</a>
    </div>
</div>

<div class="card w-50">
    <div class="card-body">
        <h5 class="card-title">Books</h5>
        <p class="card-text">Add, delete or change book properties</p>
        <a href="#" class="btn btn-primary">Manage books</a>
    </div>
</div>