@model BL.DTOs.UserLoginDto
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col s12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="row valign-wrapper my-4 display-6">
                <span class="text-xxl-center">Log into the account</span>
            </div>
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <div class="row valign-wrapper my-4 h4">
                <span class="text-xxl-left">Login credentials:</span>
            </div>
            <hr />
            <div class="row valign-wrapper m-2 text-xxl-center">
                <div class="col s12 l4">Email:</div>
                <div class="input-field col s12 l8">
                    @Html.TextBoxFor(model => model.Email, new { placeholder = "Email", required = true })
                </div>
            </div>
            <div class="row valign-wrapper m-2 text-xxl-center">
                <div class="col s12 l4">Password:</div>
                <div class="input-field col flex-grow-1">
                    @Html.PasswordFor(model => model.Password, new { placeholder = "Password", required = true })
                </div>
            </div>
            <hr />
            <div class="row justify-content-around m-4">
                <input type="submit" value="Login" class="btn bg-primary col-6 col-sm-3" />
            </div>
        }
    </div>
</div>